.modal-custom::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #303030;
    opacity: 0.5;
  }
  .modal-custom {
    position: fixed;
    z-index: 3;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .modal-dialog {
    z-index: 5;
  }
  option:first {
    color: #999;
}